<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="WebsiteUrl" value="http://www.guitarcenter.com/Used/" />
		<add key ="SearchTerms" value ="api;neve"/>
		<!--Use ; between search terms-->
		<add key ="AlertEmailSender" value=""/>
		<add key ="AlertEmailSenderSmptPort" value="587"/>
		<add key ="AlertEmailSenderSmptHost" value="smtp.gmail.com"/>
		<add key ="AlertEmailSenderPassword" value=""/>
		<add key ="AlertEmailDestination" value=""/>
		<add key ="AlreadyProcessedItemsFilePath" value=""/><!--Just full path (don't include a file name on the end)-->
		<add key="ErrorEmailDestination" value=""/>
		<add key ="DoLog" value="true"/>
		<add key="WebsiteTimeoutSeconds" value="5"/>
		<add key="ProgramSleepTimeMinutes" value="60"/>
	</appSettings>
	<system.diagnostics>
		<trace autoflush="true">
			<listeners>
				<add name="TraceListener"
					 type="System.Diagnostics.TextWriterTraceListener"
					 initializeData="application.log" />
				<remove name="Default" />
			</listeners>
		</trace>
	</system.diagnostics>
</configuration>